@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body,
html {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f5efe6;
}

.nav-color {
  background-color: #aebdca;
}

.bg-card {
  background-color: #d9d9d9;
}

.info-professor {
  background-color: #ffffff;
  border-radius: 8px;
}

.text-muted {
  color: #2e4459 !important;
}
